@font-face {
  font-family: 'lexend-regular';
  src: url('../../fonts/Lexend-Regular.woff2') format('woff2'),
    url('../../fonts/Lexend-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lexend-medium';
  src: url('../../fonts/Lexend-SemiBold.woff2') format('woff2'),
    url('../../fonts/Lexend-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'lexend-bold';
  src: url('../../fonts/Lexend-Bold.woff2') format('woff2'),
    url('../../fonts/Lexend-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
